@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    padding: 0;
    margin: 0;
    font-family: "poppins",sans-serif;
    font-weight: 400;
    font-style: normal;
    /* cursor: pointer; */
}

.nav{
    padding: 8px 15px;
    /* width: 100%; */
    height: 60px;
    background-color: black;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.border{
    border: 1px solid transparent;
}
.border:hover{
    border: 1px solid #fff;
}
.logo{
    height: 60px;
    width: 110px;
    background-image: url("images/amazon_logo.png");
    background-size: cover;
}

.text{
    padding: 10px 8px;
}

.text p{
    opacity: 0.9;;
    font-size: 12px;
    margin-left: 15px;
}
.text i{
    font-size: 18px;
}
.text h5{
    font-weight: 600;
}

.searchbox{
    width: 550px;
    height:38px ;
    position: relative;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
}

.searchbox select{
    position: absolute;
    /* margin-left: 40px; */
    height: 100%;
    padding: auto;
    border: none;
    outline: none;
    border-right: 1px solid gray;
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
    font-size: 18px;
}

.searchbox input{
    position: absolute;
    left: 38px;
    height: 100%;
    border: none;
    outline: none;
    margin-left: 8px;
    padding-left: 10px;
    width: 86%;
    font-size: 18px;
}

.searchbox .icon{
    position: absolute;
    right: 0;
    height: 100%;
    font-size: 25px;
    width: 36px;
    background-color: #febd68;
    color: #000;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}

.text2{
    padding: 5px 10px;
}

.text2 #hello{
    font-size: 16px;
    opacity: 0.9;
}
.text2 #ac{
    font-size: 18px;
  font-weight: 550;
}
.text2 i{
    font-size: 10px;
    opacity: 0.5;
    margin-left: 4px;
}

.return p{
  font-size: 16px;
}
.return{
    padding: 5px 10px;
}
.return #orders{
    font-size: 20px;
    font-weight: 550;
}

.cart{
    display: flex;
    align-items: end;
    padding: 5px 10px;
}
.cart i{
    font-size: 50px;
}

.cart p{
    font-size: 20px;
    font-weight: 550;
}

.searchbox:hover{
    border: 2px solid orange;
}

.bar{
    height: 50px;
    background-color: #222f3b;
    color: #fff;
    padding: 0 18px;
    display: flex;
    align-items: center;
}

.all i{
    /* color: #fff; */
    font-size: 45px;
}

.all a{
    position: relative;
  top: -10px;
    color: #fff;
    text-align: center;
    font-size: 26px;
    text-decoration: none;
}

.bar .ops{
width: 78%;
padding: 5px 0;
}

.ops a{
    position: relative;
    top: -2px;
    padding: 5px 8px;
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    margin-left: 20px;
}

.ops a:hover{
    border: 1px solid #fff;}


.elec a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
    font-weight: 700;
}

.hero{
    height: 400px;
    background-image: url("images/hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.hero .msg{
    height: 40px;
    font-size: 16px;
    width: 70%;
    padding: 5px 0;
    background-color: #fff;
   display: flex;
   align-items: center;
   justify-content: center;
  margin-bottom: 20px;
}

.msg a{
    color: #007185;
}

.shop{
    background-color: #e2e7ee;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
 .box{
    margin-top: 15px;
    padding: 20px 20px 15px;
    width: 21%;
    height: 430px;
    border-radius: 7px;
    /* border: 2px solid #000; */
    background-color: #fff;
}

.image1{
    min-height: 340px;
    background-image: url("images/box5_image.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
}
#box1 h2{
    font-weight: 600;
}
#box1 p{
    font-size: 20px;
   font-weight: 500;
    color: #007185;
}

.image2{
    min-height: 340px;
    background-image: url("images/box8_image.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;
}

.image3{
    min-height: 340px;
    background-image: url("images/box1_image.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.image4{
    min-height: 340px;
    background-image: url("images/box7_image.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;    
}

.image5{
    min-height: 340px;
    background-image: url("images/box3_image.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;   
}

.image6{
    min-height: 340px;
    background-image: url("images/box2_image.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;   
}

.image7{
    min-height: 340px;
    background-image: url("images/box4_image.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;   
}

.image8{
    min-height: 340px;
    background-image: url("images/box6_image.jpg");
    background-size: cover;    
    background-repeat: no-repeat;
    margin-top: 15px;
    margin-bottom: 15px;   
}

/* footer */
footer{
    margin-top: 15px;
}

/* Panel 1 */
.panel1{
    font-size: 18px;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    background-color:#37475a;
}

/* Panel 2 */
.panel2{
    display: flex;
    justify-content: space-between;
    height: 400px;
    background-color:#222f3b;
    padding: 20px 35px;
}


#h3{
    font-weight: 500;
    font-size: 19px;
    color: #fff;
}

.cont1 a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-top: 6px;
    opacity: 0.8;
}

.cont2 a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-top: 6px;
    opacity: 0.8;
}

.cont3 a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-top: 6px;
    opacity: 0.8;
}

.cont4 a{
    display: block;
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-top: 6px;
    opacity: 0.8;
}

/* Panel 3 */
.panel3{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 150px;    
    background-color: #222f3b;
    border-top: 0.1px solid white;
}

.panel3 .logo3{
    height: 60px;
    width: 140px;
    background-image: url("images/amazon_logo.png");
    background-size: cover;
}

.three{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    padding: 8px 10px;
    border: 0.5px solid white;
    color: #fff;
    border-radius: 4px;
}

.three #sort{
  opacity: 0.5;
}

.three .english{
    display: flex;
    align-items: center;
    margin-right: 40px;
}
.three #globe{
    opacity: 0.8;
}
.english p{
    opacity: 0.8;
    margin-left: 8px;
}

.three i{
    margin-top: 2px;
}

.two{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    width: 170px;
    border: 0.5px solid white;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    margin-left: 10px;
}

.two p{
    margin-left: 7px;
    opacity: 0.8;
}

.one img{
    height: 15px;
}

.one{
    display: flex;
    padding: 8px;
    align-items: center;
    color: #fff;
    width: 170px;
    border: 0.5px solid white;
    margin-left: 10px;
    border-radius: 4px;
}

.one p{
    margin-left: 10px;
    opacity: 0.8;
}


/* Panel 4 */
.panel4{
    background-color: #222f3b;
    height: 150px;
    color: #fff;
    border-top: 0.1px solid #fff;
}

.firstdiv{
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.firstdiv p{
    margin-right: 18px;
    opacity: 0.8;
}

.seconddiv{
    margin-top: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.thirddiv{
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.thirddiv h2 {
    font-weight: 600;
}